doctype html
html(ng-app='<%= appname %>')

    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title
        link(href=styles, rel='stylesheet')

    body
        //-Content goes here
        script(src=scripts)