<% if (includeBootstrap) { %>@import "variables";
@import "imports";<% } %>

@import url(//fonts.googleapis.com/css?family=Lato:700);

body {
  margin:0;
  font-family:'Lato', sans-serif;
  text-align:center;
  color: #222;
}

.welcome {
  width: 300px;
  height: 510px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -255px;
}

a, a:visited {
  text-decoration:none;
}

h1 {
  font-size: 32px;
  margin: 16px 0 0 0;
}


