doctype html
html(ng-app='<%= appname %>')

    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title
        //styles

    body
        div(<% if (includeUIRouter) { %>ui-view=''<% } else { %>ng-view=''<% } %>)
        //scripts
